/* подключаем внешний шрифт */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* общие настройки для всего */
#wrapper {
  /* включаем абсолютное позиционирование */
  position: absolute;
  /* отступы сверху и слева */
  top: 0;
  left: 0;
  /* высота и ширина блока */
  width: 100%;
  height: 100%;
  /* цвет */
  color: #333333;
  /* шрифт */
  font-family: "Inter", sans-serif;
}

  /* внутренний блок */
.flexDiv {
  /* включаем гибкую вёрстку */
  display: flex;
  position: absolute;
  /* отступ сверху */
  margin-top: 60px;
  /* высота блока */
  width: 90vw;
  /* двигаем содержимое блока, если оно не помещается рядом */
  flex-wrap: wrap;
  /* максимальная ширина блока */
  max-width: 800px;
  /* отступы слева и сверху */
  left: 50%;
  top: 0;
  /* сдвигаем влево по горизонтали */
  transform: translateX(-50%);
}

/* скрываем флажок у чекбокса */
input[type="checkbox"] {
  display: none;
}

/* абсолютное позиционирование для тегов */
.pos-abs {
  /* включаем абсолютное позиционирование */
  position: absolute;
  /* отступ сверху */
  top: -50px;
  /* внутренний отступ до левой и верхней границы */
  margin: 8px;
  margin-top: 8px !important;
}
/* для тега с личными записями */
.pos-abs.personal {
  /* двигаем тег левее */
  left: 102px;
}
/* для тега с рабочими записями */
.pos-abs.read {
  /* двигаем тег ещё левее */
  left: 208px;
}
.pos-abs.life {
  /* двигаем тег ещё левее */
  left: 328px;
}

/* общие настройки для тегов */
.tag {
  /* внешние отступы */
  padding: 6px 12px;
  /* подгоняем размер блока под содержимое */
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /* радиус скругления */
  border-radius: 9999px;
  /* отступ сверху */
  margin-top: 12px;
  /* запрещаем выделять мышкой этот элемент */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


/* добавляем хештег перед тегом */
.tag::before {
  /* добавляем текст, отступ и прозрачность */
  content: "#";
  margin-right: 2px;
  opacity: 0.3;
}

/* настройки переменных для цветов тегов */
.work,
.note:has(.work) {
  /* рабочий */
  --tagColor: #fcdbcf;
}

.personal,
.note:has(.personal) {
  /* личный */
  --tagColor: #ccdcff;
}
.read,
.note:has(.read) {
  /* почитать */
  --tagColor: #f9cafc;
}
.life,
.note:has(.life) {
  /* пожить */
  --tagColor: #99eabd;
}

/* настройки цвета фона тегов */
.work,
.personal,
.read,
.life {
  /* берём значение фона из переменных */
  background-color: var(--tagColor);
}

/* настройки карточки */
.note {
  /* цвет фона */
  background-color: #ffffff;
  /* граница */
  border: 1px solid #ebebeb;
  /* рисуем границу по периметру карточки */
  box-sizing: border-box;
  /* межстрочное расстояние */
  line-height: 1.5;
  /* радиус скругления */
  border-radius: 8px;
  /* рисуем тень */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
  /* скрываем всё, что не помещается в блок */
  overflow: hidden;
  /* включаем гибкую вёрстку */
  display: flex;
  /* организуем вёрстку по столбцам */
  flex-direction: column;
  /* выравниваем карточки по центру друг относительно друга */
  justify-content: space-between;
  /* анимация появления и исчезания */
  transition: all 300ms ease-in-out 0s;
}

/* меняем цвет рамки карточки при наведении */
.note:hover {
  border-color: var(--tagColor);
}


/* если тег отмечен */
#work-box:checked ~ .note:has(.work),
#personal-box:checked ~ .note:has(.personal),
#read-box:checked ~ .note:has(.read),
#life-box:checked ~ .note:has(.life) {
  /* устанавливаем размеры и отступы карточек */
  width: 31%;
  height: 160px;
  padding: 3%;
  margin: 1%;
  opacity: 1;
  border-width: 1px;
}

/* если тег отмечен — ставим ему указанный цвет фона */
#work-box:checked + label div,
#personal-box:checked + label div,
#read-box:checked + label div,
#life-box:checked + label div {
  /* цвет фона берём из переменной */
  background-color: var(--tagColor);
  color: unset;
}

/* если тег не отмечен */
#work-box + label div,
#personal-box + label div,
#read-box + label div,
#life-box + label div {
  /* ставим белый фон */
  background-color: white;
  /* оставляем рамку цвета изначального фона */
  border: 1px solid var(--tagColor);
  /* текст тоже делаем цвета изначального фона */
  color: var(--tagColor);
}

/* если тег не отмечен */
#work-box ~ .note:has(.work),
#personal-box ~ .note:has(.personal),
#read-box ~ .note:has(.read),
#life-box ~ .note:has(.life) {
  /* обнуляем параметры и размеры карточки, чтобы скрыть её из списка */
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  border-width: 0;
}

/* меняем курсор при наведении на тег */
label {
  cursor: pointer;
}

/* делаем тег чуть бледнее при наведении */
label:hover {
  opacity: 0.8;
}